[user]
	name = takesoo
	email = takesooon@gmail.com
[core]
	excludesfile = /Users/kubotahotaka/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/kubotahotaka/.stCommitMsg
[http]
	postBuffer = 524288000
[push]
	default = current
	autoSetupRemote = true
[alias]
	# git delete-merged-branches <branch>
	# delete-merged-branches = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|staging|order|stock|factory'|xargs git branch -d; };f"
	delete-merged-branches = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|main|staging|order|stock|factory'|xargs git branch -d; };f"
